RECAP

In [1]:
print("This line will be printed.")

This line will be printed.

In [ ]:
'''['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 
 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 
 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']'''

In [2]:
var = 1
account_balance = 1000.0
client_name = 'John Doe'
print(var, account_balance, client_name)
print(var)

1 1000.0 John Doe
1

In [3]:
var = 1
print(Var)

NameError: name 'Var' is not defined

In [4]:
var = "3.8.5"
print("Python version: " + var)

Python version: 3.8.5

In [5]:
var = 1
print(var)
var += 1
print(var)

1
2

In [6]:
myint = 7
print(myint)

7

In [7]:
myfloat = 7.
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

In [8]:
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

In [9]:
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

In [10]:
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

3
hello world

In [11]:
a, b = 3, 4
print(b)

4

In [13]:
# This will not work!
one = '1'
two ='2'
hello = "hello"

print(one + two + hello)

12hello

In [21]:
# Exercise 1
# TODO: Fix this string!
ford_quote = 'Whether you think you can, or you think you can\'t--you\'re right.'
ford_quote

"Whether you think you can, or you think you can't--you're \\right."

Exercise 2
The target of this exercise is to create a string, an integer, and a floating point number. The string should be named mystring and should contain the word "hello". The floating point number should be named myfloat and should contain the number 10.0, and the integer should be named myint and should contain the number 20.

In [ ]:
# change this code
mystring = None
myfloat = None
myint = None

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

Exercise 3
Here is a short story:

Once upon a time in Appleland, John had three apples, Mary had five apples, and Adam had six apples. 
They were all very happy and lived for a long time. End of story.

Your task is to:

create the variables: john, mary, and adam;
assign values to the variables. The values must be equal to the numbers of fruit possessed by John, Mary, and Adam respectively;
having stored the numbers in the variables, print the variables on one line, and separate each of them with a comma;
now create a new variable named total_apples equal to addition of the three former variables.
print the value stored in total_apples to the console;
experiment with your code: create new variables, assign different values to them, 
and perform various arithmetic operations on them (e.g., +, -, *, /, //, etc.). 
Try to print a string and an integer together on one line, e.g., "Total number of apples:" and total_apples.

CLASS CONTINUES

In [27]:
#floor Division
12//5

2

In [28]:
5//2

2

In [32]:
4.0//2

2.0

In [45]:
#The next operator is quite a peculiar one, because it has no equivalent among traditional arithmetic operators.
print(6 % 4)

0

In [ ]:
As you can see, the result is two. This is why:

14 // 4 gives 3 → this is the integer quotient;
3 * 4 gives 12 → as a result of quotient and divisor multiplication;
14 - 12 gives 2 → this is the remainder.

In [34]:
12 % 4.5

3.0

In [37]:
0/0

ZeroDivisionError: division by zero

In [42]:
#operators and their priority (left sided binding)
print(9 % 6 % 2)
# - 9 +  6 * 4 / 2**2

1

In [ ]:
from left to right: first 9 % 6 gives 3, and then 3 % 2 gives 1;
from right to left: first 6 % 2 gives 0, and then 9 % 0 causes a fatal error.

You can use as many parentheses as you need, 
and they're often used to improve the readability of an expression, even if they don't change the order of the operations.

In [ ]:
a = 25 % 13
b =2 * 13
c =(a + 100)
d = 5 * c

In [ ]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

In [44]:
#These two Boolean values have strict denotations in Python:
True
False

False

Try comparison operators in this quiz! This code calculates the population densities of Rio de Janeiro and San Francisco.

Write code to compare these densities. Is the population of San Francisco more dense than that of Rio de Janeiro? 
Print True if it is and False if not.

In [47]:
sf_population, sf_area = 864816, 231.89
rio_population, rio_area = 6453682, 486.5

san_francisco_pop_density = sf_population/sf_area
rio_de_janeiro_pop_density = rio_population/rio_area

# Write code that prints True if San Francisco is denser than Rio, and False otherwise

In [48]:
san_francisco_pop_density > rio_de_janeiro_pop_density

False

In [ ]:
print(True > False)
print(True < False)

In [50]:
# indexing
first_word = 'Hello'
second_word = 'This is Data Analysis Class'

In [62]:
first_word[2]

'l'

In [55]:
second_word[4]

' '

In [69]:
# slicing
second_word[8:12]

'Data'

In [70]:
first_word[:]

'Hello'

In [72]:
second_word[:8]

'This is '

In [ ]:
second_word[-1]

In [79]:
#len function
name  = 'HerTech Trail'

[ -1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13]
# len(name)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [95]:
name[12:8:-1]

'liar'

In [99]:
name[:-1]

'HerTech Trai'

In [ ]:
madam

In [ ]:
print(len("ababa") / len("ab"))

In [5]:
given_name = "William"
middle_names = "Bradley"
family_name = "Pitt"

name_length = name_length=len(given_name)+ len(middle_names)+ len(family_name) #todo: calculate how long this name is

# Now we check to make sure that the name fits within the driving license character limit
# Nothing you need to do here
driving_license_character_limit = 28
print(name_length <= driving_license_character_limit)

True

In [ ]:
heights = [61, 70, 67, 64]

In [7]:
broken_heights = [65, 71, 59, 62]

In [8]:
items = ['cake', 'cookie', 'bread']
total_items = items + ['biscuit', 'tart']
print(total_items)

['cake', 'cookie', 'bread', 'biscuit', 'tart']

In [ ]:
numbers = [1, 2, 3, 4, 10]
names = ['Jenny', 'Sam', 'Alexis']
mixed = ['Jenny', 1, 2]
empty_list = []
list_of_lists = [['a', 1], ['b', 2]]

In [1]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

In [10]:
print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [11]:
print(len(flowers_list))

10

In [19]:
# print("First entry:" , flowers_list[0])
# print("Second entry:", flowers_list[1])

# The list has length ten, so we refer to final entry with 9
print("Last entry:", flowers_list[3])
print("Last entry:", flowers_list[4])

Last entry: sweet pea
Last entry: english marigold

Slicing
You can also pull a segment of a list (for instance, the first three entries or the last two entries). This is called slicing. For instance:

to pull the first x entries, you use [:x], and
to pull the last y entries, you use [-y:].

In [21]:
# print("First three entries:", flowers_list[:3])
print("Final two entries:", flowers_list[-2:])

Final two entries: ['monkshood', 'globe thistle']

### Exercise
Assign the last element from the list row_1 to a variable named rating_1. Try to use negative indexing.
Assign the last element from the list row_2 to a variable named rating_2.
Assign the last element from the list row_3 to a variable named rating_3.
Add the three ratings together, and save the sum to a variable named total_rating.
Divide the total by 3 to get the average rating. Assign the result to a variable named average_rating.

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]

### Exercise
For Facebook, Instagram, and Minecraft: Pocket Edition, use indexing to retrieve multiple list elements. Each list should contain the name of the app, the rating count, and the user rating . Don't forget that indexing starts at 0.

For Facebook, assign the list to a variable named fb_rating_data.
For Instagram, assign the list to a variable named insta_rating_data.
For Minecraft: Pocket Edition, assign the list to a variable named minecraft_rating_data.
Calculate the average user rating for Facebook, Instagram, and Minecraft: Pocket Edition using the data you stored in fb_rating_data, insta_rating_data, and minecraft_rating_data.

Add the three user ratings (user_rating) together and save the sum to a variable named total_rating. Use indexing to specify the list element for user rating.
Divide the total by 3 to get the average rating. Assign the result to a variable named average_rating.

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]
row_5 = ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]

Removing items
Remove an item from a list with .remove(), and put the item you would like to remove in parentheses.

In [22]:
flowers_list.remove("globe thistle")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

In [23]:
len(flowers_list)

9

In [42]:
# Create a list
shopping_line = ["Cole", "Kip", "Chris", "Sylvana", "Chris"]
 
# Removes the first occurance of "Chris"
shopping_line.remove("Chris")
print(shopping_line)

['Cole', 'Kip', 'Sylvana', 'Chris']

Adding items
Add an item to a list with .append(), and put the item you would like to add in parentheses.

In [26]:
flowers_list.append("snapdragon")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snapdragon']

In [27]:
#another append example
orders = ['daisies', 'periwinkle']
orders.append('tulips')
print(orders)

['daisies', 'periwinkle', 'tulips']

In [28]:
# As an example, consider hardcover book sales in the first week of April 2000 in a retail store.
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]
print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales[2])

Length of the list: 7
Entry at index 2: 172

In [29]:
# You can also get the minimum with min() and the maximum with max().
print("Minimum:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))

Minimum: 128
Maximum: 191

In [33]:
mixed_list_test = ['Ball', 'apple']
min(mixed_list_test)

'Ball'

In [36]:
min('aCAple')

'A'

In [44]:
# To add every item in the list, use sum().
print("Total books sold in one week:", sum(hardcover_sales))

Total books sold in one week: 1107

In [45]:
print("Average books sold in first five days:", sum(hardcover_sales[:5])/5)

Average books sold in first five days: 153.8

### EXERCISE
In this exercise, you will need to add numbers and strings to the correct lists using the "append" list method. 
You must add the numbers 1,2, and 3 to the "numbers" list, and the words 'hello' and 'world' to the strings variable.

You will also have to fill in the variable second_name with the second name in the names list, using the brackets operator [].
Note that the index is zero-based, so if you want to access the second item in the list, its index will be 1.

In [47]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
second_name = None
numbers.append(1)
numbers.append(2)
numbers.append(3)
strings.append('hello')
strings.append('world')
second_name = names[1]
# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

In [48]:
#count method
backpack = ['pencil', 'pen', 'notebook', 'textbook', 'pen', 'highlighter', 'pen']
numPen = backpack.count('pen')
 
print(numPen)

3

In [55]:
#LIst method .sort()
exampleList = [4, 2, 1, 3, 1, 8, 60, 5]
exampleList.sort(reverse = True)

print(exampleList)

[60, 8, 5, 4, 3, 2, 1, 1]

In [57]:
exampleList = [4, 2, 1, 3, 1, 8, 60, 5]
exampleList[::-1]

[5, 60, 8, 1, 3, 1, 2, 4]

In [59]:
#python function sorted()
unsortedList = [4, 2, 1, 3]
sortedList = sorted(unsortedList, reverse = True)
sortedList

[4, 3, 2, 1]

In [62]:
#List method .insert()
# Here is a list representing a line of people at a store
store_line = ["Karla", "Maxium", "Martim", "Isabella"]
 
# Here is how to insert "Vikor" after "Maxium" and before "Martim"
store_line.insert(2, "Vikor")
 
store_line

['Karla', 'Maxium', 'Vikor', 'Martim', 'Isabella']

In [63]:
#List method .pop()
cs_topics = ["Python", "Data Structures", "Balloon Making", "Algorithms", "Clowns 101"]
 
# Pop the last element
removed_element = cs_topics.pop()
 
print(cs_topics)
print(removed_element)

['Python', 'Data Structures', 'Balloon Making', 'Algorithms']
Clowns 101

In [64]:
# Pop the element "Baloon Making"
cs_topics.pop(2)
print(cs_topics)

['Python', 'Data Structures', 'Algorithms']

In [79]:
# A 2D list of names and hobbies
class_name_hobbies = [["Jenny", "Breakdancing"], ["Alexus", "Photography"], ["Grace", "Soccer"]]
 
# The sublist of Jenny is at index 0. The hobby is at index 1 of the sublist. 
grace = class_name_hobbies[2][1]
# class_name_hobbies[1] = 'learning'
# print(class_name_hobbies)
grace

'Soccer'

In [80]:
# 2D list of people's heights
heights = [["Noelle", 61], ["Ali", 70], ["Sam", 67]]
# Access the sublist at index 0, and then access the 1st index of that sublist. 
noelles_height = heights[0][1] 
sam_height =heights[2][1]
print(sam_height)

67

STRING METHOD

In [84]:
my_string = 'we are learning with hertechtrail'

In [88]:
# my_string.islower()
# my_string.count('a')
# my_string.find('a')
# my_string.rfind('i')

31

In [92]:
"Mohammed has {} balloons".format(27)

'Mohammed has 27 balloons'

In [94]:
animal = "dog"
action = "bite"
"Does your {} {}?".format(animal, action)

'Does your dog bite?'

In [95]:
maria_string = "Maria loves {} and {}"
maria_string.format("math", "statistics")

'Maria loves math and statistics'

In [98]:
# What happens when you call a string method like islower() on a float object? 
# For example, 
13.37.islower()

AttributeError: 'float' object has no attribute 'islower'

Another important string method: split()

In [99]:
#A basic split method:
new_str = "The cow jumped over the moon."
new_str.split()

['The', 'cow', 'jumped', 'over', 'the', 'moon.']

In [100]:
#Here the separator is space, and the maxsplit argument is set to 2.
new_str.split(' ', 2)

['The', 'cow', 'jumped over the moon.']

In [101]:
#Using '.' or period as a separator.
new_str.split('.')

['The cow jumped over the moon', '']

In [102]:
#Using no separators but having a maxsplit argument of 3.
new_str.split(None, 3)

['The', 'cow', 'jumped', 'over the moon.']

## String Method Exercise
verse = "If you can keep your head when all about you\n  Are losing theirs and blaming it on you,\nIf you can trust yourself when all men doubt you,\n  But make allowance for their doubting too;\nIf you can wait and not be tired by waiting,\n  Or being lied about, don’t deal in lies,\nOr being hated, don’t give way to hating,\n  And yet don’t look too good, nor talk too wise:"

What is the length of the string variable verse?
What is the index of the first occurrence of the word 'and' in verse?
What is the index of the last occurrence of the word 'you' in verse?
What is the count of occurrences of the word 'you' in the verse?

#### Bonus: practice using .format() to output your answers in descriptive messages!